header
{

margin: 50 px;

background-color: black;

}


body{
background-color: rgb(0, 0, 0);

color: white;


}
header
section{
background-color: white;

margin: 50 px;

border: solid 5 px rgb(red, green, blue);

padding: 44 px; ;
border: 3 px;
display: flex;
justify-content:senter;

}
.primeira chamada{

margin: right : 5% ;

}
.assista mais videos{

display: flex;
overflow: auto;
gap: 10 pxoverflow;

}