header
{

margin: 50 px;

background-color: black;

justify-content:30;
}


body{
background-color: rgb(0, 0, 0);

color: white;


}

section{
background-color: white;

margin: 50 px;
display: flex;

border: solid 5 px rgb(red, green, blue);

padding: 44px; ;
border: 3 px;

}